---
title: Index Page
layout: base.ejs
pagination: 
  data: articles
  size: 3
  alias: articles
---

<%articles.forEach(function(article){%>

    <a href="/<%=article.name%>">
      <h1><%=article.author%></h1>
      <h2><%=article.name%></h2>
      <p><%-article.content%></p>
      <img src="<%=article.image%>" alt="">
    </a>
  
  
<%})%>

