---
title: Show page
pagination: 
    data: articles
    size: 1
    alias: article
permalink: /<%=article.id%>/index.html
---


<h1><%=article.author%></h1>
      <h2><%=article.name%></h2>
      <p><%-article.content%></p>
      <img src="https://strapi-blog-clash-2.herokuapp.com<%=article.image%>" alt="">